In [14]:
import pandas as pd
from backend.src.utils import MySQLAgent, OracleAgent
# from src.plot_tools import cat_value_count_bar_plot, num_value_count_bar_plot
import json
from datetime import datetime

import matplotlib.pyplot as plt

plt.rcParams['font.sans-serif'] = ['Microsoft JhengHei'] 
plt.rcParams['axes.unicode_minus'] = False

In [15]:
def read_config(path):
    try:
        with open(path, 'r') as file:
            configs = json.load(file)

        return configs
    except FileNotFoundError:
        print(f"The file {path} was not found.")
    except json.JSONDecodeError:
        print(f"Error decoding JSON from the file {path}.")

In [16]:
configs = read_config(path="./backend/.env/connections.json")
job_configs = configs["CREDITREPORT"]['VM1_mysql_conn_info']
sql_agent = MySQLAgent(job_configs)

In [17]:
def create_qurter(period_month):
    if period_month in range(1,4,1):
        return "Q1"
    elif period_month in range (4,7,1):
        return "Q2"
    elif period_month in range(7,10,1):
        return "Q3"
    else:
        return "Q4"

In [35]:
query = f"""
SELECT 公司代號 AS stock_num
FROM listed_otc_company
WHERE 營利事業統一編號 = "73251209"
"""
df_mapping = sql_agent.read_table(query=query)
stock_num = df_mapping['stock_num'][0]

In [36]:
# DB on VM1
query = f"""
    select * from mops_monthly_report
    where company_id = {stock_num}
"""
df_mops = sql_agent.read_table(query=query)


df_mops['period'] = pd.to_datetime(df_mops['period_year'].astype(str) + '-' + df_mops['period_month'].astype(str))

# Sales QoQ
df_mops['quarter'] = df_mops['period_month'].apply(create_qurter)
df_mops['year_quarter'] = df_mops['period_year'].astype(str) + df_mops['quarter']
df_mops_QoQ = df_mops.groupby('year_quarter').agg(year_quarter_sales= ('sales','sum')).reset_index()
df_mops_QoQ['QoQ'] = (df_mops_QoQ['year_quarter_sales']/df_mops_QoQ['year_quarter_sales'].shift(1))-1
# Monthly Y2M
df_monthly_y2m = df_mops.pivot_table(index='period_month', columns='period_year', values='y2m', aggfunc='mean')

result = {
    'revenue_analysis':df_mops.to_dict(orient='records'),
    'sales_qoq': df_mops_QoQ.dropna().to_dict(orient='records'),
    'monthly_y2m': df_monthly_y2m.dropna().to_dict(orient='records')
}

In [38]:
df_monthly_y2m

period_year,2019,2020,2021,2022,2023,2024
period_month,,,,,,
1,41144409.0,41529085.0,45194815.0,48049485.0,45915517.0,58667213.0
2,70970886.0,72316611.0,76964279.0,82162681.0,86580348.0,106566178.0
3,107775873.0,108264865.0,115428161.0,124274817.0,131403700.0,NaN
4,144694685.0,143211145.0,153784713.0,167252328.0,175473423.0,NaN
5,183410899.0,180120300.0,193543871.0,210467983.0,221824219.0,NaN
6,222268920.0,218736545.0,232797132.0,254734228.0,268800544.0,NaN
7,262536471.0,259246103.0,274649755.0,302029660.0,322943447.0,NaN
8,303861038.0,NaN,316592095.0,350684373.0,380485211.0,NaN
9,343355145.0,340812432.0,357715822.0,396500151.0,433851392.0,NaN
10,380327552.0,377275653.0,396850722.0,439427488.0,483652868.0,NaN
11,414642826.0,413133859.0,436202984.0,480084395.0,531816272.0,NaN
12,447657706.0,447293289.0,473494402.0,524649110.0,580990603.0,NaN

In [28]:
result

{'revenue_analysis': [{'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 1,
   'sales': 41144400.0,
   'sales_lastmm': 32590900.0,
   'sales_lastyy': 38162000.0,
   'var_lastmm': 26.24,
   'var_lastyy': 7.81,
   'y2m': 41144409.0,
   'y2m_lastyy': 38161968.0,
   'var_lasty2m': 7.81,
   'comment': None,
   'period': Timestamp('2019-01-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2019Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 2,
   'sales': 29826500.0,
   'sales_lastmm': 41144400.0,
   'sales_lastyy': 30250700.0,
   'var_lastmm': -27.5,
   'var_lastyy': -1.4,
   'y2m': 70970886.0,
   'y2m_lastyy': 68412717.0,
   'var_lasty2m': 3.73,
   'comment': None,
   'period': Timestamp('2019-02-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2019Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 3,
   'sales': 36805000.0,
   'sales_lastmm': 29826500.0,
   'sales_lastyy': 35875500.0,
   'var_lastmm': 23.39,
   'var_lastyy': 2.59,
   'y2m': 107775873.0,
   'y2m_lastyy': 104288263.0,
   'var_lasty2m': 3.34,
   'comment': None,
   'period': Timestamp('2019-03-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2019Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 4,
   'sales': 36918800.0,
   'sales_lastmm': 36805000.0,
   'sales_lastyy': 35313700.0,
   'var_lastmm': 0.3,
   'var_lastyy': 4.54,
   'y2m': 144694685.0,
   'y2m_lastyy': 139601931.0,
   'var_lasty2m': 3.64,
   'comment': None,
   'period': Timestamp('2019-04-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2019Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 5,
   'sales': 38716200.0,
   'sales_lastmm': 36918800.0,
   'sales_lastyy': 37995700.0,
   'var_lastmm': 4.86,
   'var_lastyy': 1.89,
   'y2m': 183410899.0,
   'y2m_lastyy': 177597582.0,
   'var_lasty2m': 3.27,
   'comment': None,
   'period': Timestamp('2019-05-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2019Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 6,
   'sales': 38858000.0,
   'sales_lastmm': 38716200.0,
   'sales_lastyy': 37048400.0,
   'var_lastmm': 0.36,
   'var_lastyy': 4.88,
   'y2m': 222268920.0,
   'y2m_lastyy': 214645989.0,
   'var_lasty2m': 3.55,
   'comment': None,
   'period': Timestamp('2019-06-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2019Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 7,
   'sales': 40267600.0,
   'sales_lastmm': 38858000.0,
   'sales_lastyy': 38128200.0,
   'var_lastmm': 3.62,
   'var_lastyy': 5.61,
   'y2m': 262536471.0,
   'y2m_lastyy': 252774152.0,
   'var_lasty2m': 3.86,
   'comment': None,
   'period': Timestamp('2019-07-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2019Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 8,
   'sales': 41324600.0,
   'sales_lastmm': 40267600.0,
   'sales_lastyy': 39945600.0,
   'var_lastmm': 2.62,
   'var_lastyy': 3.45,
   'y2m': 303861038.0,
   'y2m_lastyy': 292719779.0,
   'var_lasty2m': 3.8,
   'comment': None,
   'period': Timestamp('2019-08-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2019Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 9,
   'sales': 39494100.0,
   'sales_lastmm': 41324600.0,
   'sales_lastyy': 37539400.0,
   'var_lastmm': -4.42,
   'var_lastyy': 5.2,
   'y2m': 343355145.0,
   'y2m_lastyy': 330259197.0,
   'var_lasty2m': 3.96,
   'comment': None,
   'period': Timestamp('2019-09-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2019Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 10,
   'sales': 36972400.0,
   'sales_lastmm': 39494100.0,
   'sales_lastyy': 35398600.0,
   'var_lastmm': -6.38,
   'var_lastyy': 4.44,
   'y2m': 380327552.0,
   'y2m_lastyy': 365657798.0,
   'var_lasty2m': 4.01,
   'comment': None,
   'period': Timestamp('2019-10-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2019Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 11,
   'sales': 34315300.0,
   'sales_lastmm': 36972400.0,
   'sales_lastyy': 33229600.0,
   'var_lastmm': -7.18,
   'var_lastyy': 3.26,
   'y2m': 414642826.0,
   'y2m_lastyy': 398887399.0,
   'var_lasty2m': 3.94,
   'comment': None,
   'period': Timestamp('2019-11-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2019Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2019,
   'period_month': 12,
   'sales': 33014900.0,
   'sales_lastmm': 34315300.0,
   'sales_lastyy': 32590900.0,
   'var_lastmm': -3.78,
   'var_lastyy': 1.3,
   'y2m': 447657706.0,
   'y2m_lastyy': 431478335.0,
   'var_lasty2m': 3.74,
   'comment': None,
   'period': Timestamp('2019-12-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2019Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 1,
   'sales': 41529100.0,
   'sales_lastmm': 33014900.0,
   'sales_lastyy': 41144400.0,
   'var_lastmm': 25.78,
   'var_lastyy': 0.93,
   'y2m': 41529085.0,
   'y2m_lastyy': 41144409.0,
   'var_lasty2m': 0.93,
   'comment': None,
   'period': Timestamp('2020-01-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2020Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 2,
   'sales': 30787500.0,
   'sales_lastmm': 41529100.0,
   'sales_lastyy': 29826500.0,
   'var_lastmm': -25.86,
   'var_lastyy': 3.22,
   'y2m': 72316611.0,
   'y2m_lastyy': 70970886.0,
   'var_lasty2m': 1.89,
   'comment': None,
   'period': Timestamp('2020-02-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2020Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 3,
   'sales': 35948300.0,
   'sales_lastmm': 30787500.0,
   'sales_lastyy': 36805000.0,
   'var_lastmm': 16.76,
   'var_lastyy': -2.32,
   'y2m': 108264865.0,
   'y2m_lastyy': 107775873.0,
   'var_lasty2m': 0.45,
   'comment': None,
   'period': Timestamp('2020-03-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2020Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 4,
   'sales': 34946300.0,
   'sales_lastmm': 35948300.0,
   'sales_lastyy': 36918800.0,
   'var_lastmm': -2.78,
   'var_lastyy': -5.34,
   'y2m': 143211145.0,
   'y2m_lastyy': 144694685.0,
   'var_lasty2m': -1.02,
   'comment': None,
   'period': Timestamp('2020-04-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2020Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 5,
   'sales': 36909200.0,
   'sales_lastmm': 34946300.0,
   'sales_lastyy': 38716200.0,
   'var_lastmm': 5.61,
   'var_lastyy': -4.66,
   'y2m': 180120300.0,
   'y2m_lastyy': 183410899.0,
   'var_lasty2m': -1.79,
   'comment': None,
   'period': Timestamp('2020-05-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2020Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 6,
   'sales': 38616200.0,
   'sales_lastmm': 36909200.0,
   'sales_lastyy': 38858000.0,
   'var_lastmm': 4.62,
   'var_lastyy': -0.62,
   'y2m': 218736545.0,
   'y2m_lastyy': 222268920.0,
   'var_lasty2m': -1.58,
   'comment': None,
   'period': Timestamp('2020-06-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2020Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 7,
   'sales': 40509600.0,
   'sales_lastmm': 38616200.0,
   'sales_lastyy': 40267600.0,
   'var_lastmm': 4.9,
   'var_lastyy': 0.6,
   'y2m': 259246103.0,
   'y2m_lastyy': 262536471.0,
   'var_lasty2m': -1.25,
   'comment': None,
   'period': Timestamp('2020-07-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2020Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 9,
   'sales': 40353500.0,
   'sales_lastmm': 41212900.0,
   'sales_lastyy': 39494100.0,
   'var_lastmm': -2.08,
   'var_lastyy': 2.17,
   'y2m': 340812432.0,
   'y2m_lastyy': 343355145.0,
   'var_lasty2m': -0.74,
   'comment': None,
   'period': Timestamp('2020-09-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2020Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 10,
   'sales': 36463200.0,
   'sales_lastmm': 40353500.0,
   'sales_lastyy': 36972400.0,
   'var_lastmm': -9.64,
   'var_lastyy': -1.37,
   'y2m': 377275653.0,
   'y2m_lastyy': 380327552.0,
   'var_lasty2m': -0.8,
   'comment': None,
   'period': Timestamp('2020-10-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2020Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 11,
   'sales': 35858200.0,
   'sales_lastmm': 36463200.0,
   'sales_lastyy': 34315300.0,
   'var_lastmm': -1.65,
   'var_lastyy': 4.49,
   'y2m': 413133859.0,
   'y2m_lastyy': 414642826.0,
   'var_lasty2m': -0.36,
   'comment': None,
   'period': Timestamp('2020-11-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2020Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2020,
   'period_month': 12,
   'sales': 34159400.0,
   'sales_lastmm': 35858200.0,
   'sales_lastyy': 33014900.0,
   'var_lastmm': -4.73,
   'var_lastyy': 3.46,
   'y2m': 447293289.0,
   'y2m_lastyy': 447657706.0,
   'var_lasty2m': -0.08,
   'comment': None,
   'period': Timestamp('2020-12-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2020Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 1,
   'sales': 45194800.0,
   'sales_lastmm': 34159400.0,
   'sales_lastyy': 41529100.0,
   'var_lastmm': 32.3,
   'var_lastyy': 8.82,
   'y2m': 45194815.0,
   'y2m_lastyy': 41529085.0,
   'var_lasty2m': 8.82,
   'comment': None,
   'period': Timestamp('2021-01-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2021Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 2,
   'sales': 31769500.0,
   'sales_lastmm': 45194800.0,
   'sales_lastyy': 30787500.0,
   'var_lastmm': -29.7,
   'var_lastyy': 3.18,
   'y2m': 76964279.0,
   'y2m_lastyy': 72316611.0,
   'var_lasty2m': 6.42,
   'comment': None,
   'period': Timestamp('2021-02-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2021Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 3,
   'sales': 38463900.0,
   'sales_lastmm': 31769500.0,
   'sales_lastyy': 35948300.0,
   'var_lastmm': 21.07,
   'var_lastyy': 6.99,
   'y2m': 115428161.0,
   'y2m_lastyy': 108264865.0,
   'var_lasty2m': 6.61,
   'comment': None,
   'period': Timestamp('2021-03-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2021Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 4,
   'sales': 38356600.0,
   'sales_lastmm': 38463900.0,
   'sales_lastyy': 34946300.0,
   'var_lastmm': -0.27,
   'var_lastyy': 9.75,
   'y2m': 153784713.0,
   'y2m_lastyy': 143211145.0,
   'var_lasty2m': 7.38,
   'comment': None,
   'period': Timestamp('2021-04-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2021Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 5,
   'sales': 39759200.0,
   'sales_lastmm': 38356600.0,
   'sales_lastyy': 36909200.0,
   'var_lastmm': 3.65,
   'var_lastyy': 7.72,
   'y2m': 193543871.0,
   'y2m_lastyy': 180120300.0,
   'var_lasty2m': 7.45,
   'comment': None,
   'period': Timestamp('2021-05-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2021Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 6,
   'sales': 39253300.0,
   'sales_lastmm': 39759200.0,
   'sales_lastyy': 38616200.0,
   'var_lastmm': -1.27,
   'var_lastyy': 1.64,
   'y2m': 232797132.0,
   'y2m_lastyy': 218736545.0,
   'var_lasty2m': 6.42,
   'comment': None,
   'period': Timestamp('2021-06-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2021Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 7,
   'sales': 41852600.0,
   'sales_lastmm': 39253300.0,
   'sales_lastyy': 40509600.0,
   'var_lastmm': 6.62,
   'var_lastyy': 3.31,
   'y2m': 274649755.0,
   'y2m_lastyy': 259246103.0,
   'var_lasty2m': 5.94,
   'comment': None,
   'period': Timestamp('2021-07-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2021Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 8,
   'sales': 41942300.0,
   'sales_lastmm': 41852600.0,
   'sales_lastyy': 41212900.0,
   'var_lastmm': 0.21,
   'var_lastyy': 1.77,
   'y2m': 316592095.0,
   'y2m_lastyy': 300458957.0,
   'var_lasty2m': 5.36,
   'comment': None,
   'period': Timestamp('2021-08-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2021Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 9,
   'sales': 41123700.0,
   'sales_lastmm': 41942300.0,
   'sales_lastyy': 40353500.0,
   'var_lastmm': -1.95,
   'var_lastyy': 1.9,
   'y2m': 357715822.0,
   'y2m_lastyy': 340812432.0,
   'var_lasty2m': 4.95,
   'comment': None,
   'period': Timestamp('2021-09-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2021Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 10,
   'sales': 39134900.0,
   'sales_lastmm': 41123700.0,
   'sales_lastyy': 36463200.0,
   'var_lastmm': -4.83,
   'var_lastyy': 7.32,
   'y2m': 396850722.0,
   'y2m_lastyy': 377275653.0,
   'var_lasty2m': 5.18,
   'comment': None,
   'period': Timestamp('2021-10-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2021Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 11,
   'sales': 39352300.0,
   'sales_lastmm': 39134900.0,
   'sales_lastyy': 35858200.0,
   'var_lastmm': 0.55,
   'var_lastyy': 9.74,
   'y2m': 436202984.0,
   'y2m_lastyy': 413133859.0,
   'var_lasty2m': 5.58,
   'comment': None,
   'period': Timestamp('2021-11-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2021Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2021,
   'period_month': 12,
   'sales': 37291400.0,
   'sales_lastmm': 39352300.0,
   'sales_lastyy': 34159400.0,
   'var_lastmm': -5.23,
   'var_lastyy': 9.16,
   'y2m': 473494402.0,
   'y2m_lastyy': 447293289.0,
   'var_lasty2m': 5.85,
   'comment': None,
   'period': Timestamp('2021-12-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2021Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 1,
   'sales': 48049500.0,
   'sales_lastmm': 37291400.0,
   'sales_lastyy': 45194800.0,
   'var_lastmm': 28.84,
   'var_lastyy': 6.31,
   'y2m': 48049485.0,
   'y2m_lastyy': 45194815.0,
   'var_lasty2m': 6.31,
   'comment': None,
   'period': Timestamp('2022-01-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2022Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 2,
   'sales': 34113200.0,
   'sales_lastmm': 48049500.0,
   'sales_lastyy': 31769500.0,
   'var_lastmm': -29.0,
   'var_lastyy': 7.37,
   'y2m': 82162681.0,
   'y2m_lastyy': 76964279.0,
   'var_lasty2m': 6.75,
   'comment': None,
   'period': Timestamp('2022-02-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2022Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 3,
   'sales': 42112100.0,
   'sales_lastmm': 34113200.0,
   'sales_lastyy': 38463900.0,
   'var_lastmm': 23.44,
   'var_lastyy': 9.48,
   'y2m': 124274817.0,
   'y2m_lastyy': 115428161.0,
   'var_lasty2m': 7.66,
   'comment': None,
   'period': Timestamp('2022-03-01 00:00:00'),
   'quarter': 'Q1',
   'year_quarter': '2022Q1'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 4,
   'sales': 42977500.0,
   'sales_lastmm': 42112100.0,
   'sales_lastyy': 38356600.0,
   'var_lastmm': 2.05,
   'var_lastyy': 12.04,
   'y2m': 167252328.0,
   'y2m_lastyy': 153784713.0,
   'var_lasty2m': 8.75,
   'comment': None,
   'period': Timestamp('2022-04-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2022Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 5,
   'sales': 43215700.0,
   'sales_lastmm': 42977500.0,
   'sales_lastyy': 39759200.0,
   'var_lastmm': 0.55,
   'var_lastyy': 8.69,
   'y2m': 210467983.0,
   'y2m_lastyy': 193543871.0,
   'var_lasty2m': 8.74,
   'comment': None,
   'period': Timestamp('2022-05-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2022Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 6,
   'sales': 44266200.0,
   'sales_lastmm': 43215700.0,
   'sales_lastyy': 39253300.0,
   'var_lastmm': 2.43,
   'var_lastyy': 12.77,
   'y2m': 254734228.0,
   'y2m_lastyy': 232797132.0,
   'var_lasty2m': 9.42,
   'comment': None,
   'period': Timestamp('2022-06-01 00:00:00'),
   'quarter': 'Q2',
   'year_quarter': '2022Q2'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 7,
   'sales': 47295400.0,
   'sales_lastmm': 44266200.0,
   'sales_lastyy': 41852600.0,
   'var_lastmm': 6.84,
   'var_lastyy': 13.0,
   'y2m': 302029660.0,
   'y2m_lastyy': 274649755.0,
   'var_lasty2m': 9.96,
   'comment': None,
   'period': Timestamp('2022-07-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2022Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 8,
   'sales': 48654700.0,
   'sales_lastmm': 47295400.0,
   'sales_lastyy': 41942300.0,
   'var_lastmm': 2.87,
   'var_lastyy': 16.0,
   'y2m': 350684373.0,
   'y2m_lastyy': 316592095.0,
   'var_lasty2m': 10.76,
   'comment': None,
   'period': Timestamp('2022-08-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2022Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 9,
   'sales': 45815800.0,
   'sales_lastmm': 48654700.0,
   'sales_lastyy': 41123700.0,
   'var_lastmm': -5.83,
   'var_lastyy': 11.4,
   'y2m': 396500151.0,
   'y2m_lastyy': 357715822.0,
   'var_lasty2m': 10.84,
   'comment': None,
   'period': Timestamp('2022-09-01 00:00:00'),
   'quarter': 'Q3',
   'year_quarter': '2022Q3'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 10,
   'sales': 42927300.0,
   'sales_lastmm': 45815800.0,
   'sales_lastyy': 39134900.0,
   'var_lastmm': -6.3,
   'var_lastyy': 9.69,
   'y2m': 439427488.0,
   'y2m_lastyy': 396850722.0,
   'var_lasty2m': 10.72,
   'comment': None,
   'period': Timestamp('2022-10-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2022Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 11,
   'sales': 40656900.0,
   'sales_lastmm': 42927300.0,
   'sales_lastyy': 39352300.0,
   'var_lastmm': -5.28,
   'var_lastyy': 3.31,
   'y2m': 480084395.0,
   'y2m_lastyy': 436202984.0,
   'var_lasty2m': 10.05,
   'comment': None,
   'period': Timestamp('2022-11-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2022Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2022,
   'period_month': 12,
   'sales': 44564700.0,
   'sales_lastmm': 40656900.0,
   'sales_lastyy': 37291400.0,
   'var_lastmm': 9.61,
   'var_lastyy': 19.5,
   'y2m': 524649110.0,
   'y2m_lastyy': 473494402.0,
   'var_lasty2m': 10.8,
   'comment': None,
   'period': Timestamp('2022-12-01 00:00:00'),
   'quarter': 'Q4',
   'year_quarter': '2022Q4'},
  {'company_id': '1216',
   'company_name': '統一',
   'period_year': 2023,
   'period_month': 1,

In [5]:
# file_path = 'backend/mnt/t187ap03_L.csv'
# data = pd.read_csv(file_path)
# from sqlalchemy.types import String
# # Define the data types for the table columns if necessary
# data_types = {
#     '出表日期': String(20),
#     '公司代號': String(20),
#     '公司名稱': String(50),
#     '公司簡稱': String(50),
#     '外國企業註冊地國': String(50),
#     '產業別': String(50),
#     '住址': String(255),
#     '營利事業統一編號': String(20),
#     '董事長': String(50),
#     '總經理': String(50),
#     '發言人': String(50),
#     '發言人職稱': String(50),
#     '代理發言人': String(50),
#     '總機電話': String(50),
#     '成立日期': String(50),
#     '上市日期': String(50),
#     '普通股每股面額': String(50),
#     '實收資本額': String(50),
#     '私募股數': String(50),
#     '特別股': String(50),
#     '編制財務報表類型': String(50),
#     '普通股盈餘分配或虧損撥補': String(50),
#     '過戶機構': String(255),
#     '過戶地址': String(255),
#     '簽證會計師事務所': String(255),
#     '簽證會計師1': String(50),
#     '簽證會計師2': String(50),
#     '英文簡稱': String(50),
#     '英文通訊地址': String(255),
#     '傳真機號碼': String(50),
#     '電子郵件信箱': String(100),
#     '網址': String(255),
#     '已發行普通股數或TDR原股發行股數': String(50)
# }

# # Insert the data into the table
# sql_agent.write_table(data, 'listed_otc_company', if_exists='append', index=False, data_type=data_types)

In [4]:
query = """
    select * from mops_season_report
    WHERE company_id = '1104' AND season = 1
"""
df_mops_season_raw = sql_agent.read_table(query=query)

In [5]:
partitions = ['company_id', 'period_year' ,'season', 'acct_name']

def clean_mops_season_duplicants(df, partitions):

    df['row_seq'] = df.groupby(partitions).cumcount() + 1

    df_output = df[df['row_seq'] == 2].drop(['row_seq'], axis=1) 

    return df_output

In [6]:
df_mops_season = clean_mops_season_duplicants(df_mops_season_raw, partitions=partitions)

In [7]:
df_mops_season

,report_name,company_id,company_name,period_year,season,acct_name,this_year_amt,this_year_percent,last_year_amt,last_year_percent,creation_date,seq
102,ProfitAndLose,1104,環泥,112,1,基本每股盈餘,0.42,0.0,1.06,0.0,2024-04-10 13:46:49,38
104,ProfitAndLose,1104,環泥,112,1,繼續營業單位淨利（淨損）,0.42,0.0,1.06,0.0,2024-04-10 13:46:49,40
105,ProfitAndLose,1104,環泥,112,1,稀釋每股盈餘,0.42,0.0,1.06,0.0,2024-04-10 13:46:49,41
114,CashFlowStatement,1104,環泥,112,1,利息收入,-1051.00,0.0,-194.00,0.0,2024-04-10 13:46:50,9
166,BalanceSheet,1104,環泥,112,1,流動資產,0.00,0.0,0.00,0.0,2024-04-10 14:18:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...
327,CashFlowStatement,1104,環泥,112,1,籌資活動之淨現金流入（流出）,-89513.00,0.0,129929.00,0.0,2024-04-10 14:18:17,56
328,CashFlowStatement,1104,環泥,112,1,本期現金及約當現金增加（減少）數,55861.00,0.0,29892.00,0.0,2024-04-10 14:18:17,57
329,CashFlowStatement,1104,環泥,112,1,期初現金及約當現金餘額,784464.00,0.0,292032.00,0.0,2024-04-10 14:18:17,58
330,CashFlowStatement,1104,環泥,112,1,期末現金及約當現金餘額,840325.00,0.0,321924.00,0.0,2024-04-10 14:18:17,59
331,CashFlowStatement,1104,環泥,112,1,資產負債表帳列之現金及約當現金,840325.00,0.0,321924.00,0.0,2024-04-10 14:18:17,60

In [8]:
# separate to three tables
# show company_name and company_id separatedly in the frontend

- separate to three tables
- show company_name and company_id separatedly in the frontend

In [9]:
cashflow = df_mops_season[df_mops_season['report_name'] == 'CashFlowStatement'].drop(['report_name', 'company_id', 'company_name', 'creation_date', 'seq'], axis=1)
balance = df_mops_season[df_mops_season['report_name'] == 'BalanceSheet'].drop(['report_name', 'company_id', 'company_name', 'creation_date', 'seq'], axis=1)
profitlost = df_mops_season[df_mops_season['report_name'] == 'ProfitAndLose'].drop(['report_name', 'company_id', 'company_name', 'creation_date', 'seq'], axis=1)

In [10]:
cashflow.to_dict(orient='records')

[{'period_year': 112,
  'season': 1,
  'acct_name': '利息收入',
  'this_year_amt': -1051.0,
  'this_year_percent': 0.0,
  'last_year_amt': -194.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '營業活動之現金流量－間接法',
  'this_year_amt': 0.0,
  'this_year_percent': 0.0,
  'last_year_amt': 0.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '繼續營業單位稅前淨利（淨損）',
  'this_year_amt': 315487.0,
  'this_year_percent': 0.0,
  'last_year_amt': 728756.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '本期稅前淨利（淨損）',
  'this_year_amt': 315487.0,
  'this_year_percent': 0.0,
  'last_year_amt': 728756.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '折舊費用',
  'this_year_amt': 44550.0,
  'this_year_percent': 0.0,
  'last_year_amt': 44290.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '攤銷費用',
  'this_year_amt': 890.0,
  'this_year_percent': 0.0,
  'last_year_amt': 538.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '預期信用減損損失（利益）數∕呆帳費用提列（轉列收入）數',
  'this_year_amt': 9818.0,
  'this_year_percent': 0.0,
  'last_year_amt': 961.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '透過損益按公允價值衡量金融資產及負債之淨損失（利益）',
  'this_year_amt': -36236.0,
  'this_year_percent': 0.0,
  'last_year_amt': 867.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '利息費用',
  'this_year_amt': 15809.0,
  'this_year_percent': 0.0,
  'last_year_amt': 7646.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '股利收入',
  'this_year_amt': -12118.0,
  'this_year_percent': 0.0,
  'last_year_amt': 0.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '採用權益法認列之關聯企業及合資損失（利益）之份額',
  'this_year_amt': -82773.0,
  'this_year_percent': 0.0,
  'last_year_amt': -184540.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '處分及報廢不動產、廠房及設備損失（利益）',
  'this_year_amt': -94.0,
  'this_year_percent': 0.0,
  'last_year_amt': -3968.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '處分投資損失（利益）',
  'this_year_amt': 0.0,
  'this_year_percent': 0.0,
  'last_year_amt': -373540.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '收益費損項目合計',
  'this_year_amt': -61205.0,
  'this_year_percent': 0.0,
  'last_year_amt': -507940.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '合約資產（增加）減少',
  'this_year_amt': 69.0,
  'this_year_percent': 0.0,
  'last_year_amt': -134.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '應收票據（增加）減少',
  'this_year_amt': 79443.0,
  'this_year_percent': 0.0,
  'last_year_amt': 2801.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '應收帳款（增加）減少',
  'this_year_amt': 2948.0,
  'this_year_percent': 0.0,
  'last_year_amt': -6573.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '其他應收款（增加）減少',
  'this_year_amt': -6399.0,
  'this_year_percent': 0.0,
  'last_year_amt': 1986.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '存貨（增加）減少',
  'this_year_amt': -33884.0,
  'this_year_percent': 0.0,
  'last_year_amt': -105478.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '預付款項（增加）減少',
  'this_year_amt': 3165.0,
  'this_year_percent': 0.0,
  'last_year_amt': -8189.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '其他流動資產（增加）減少',
  'this_year_amt': -4118.0,
  'this_year_percent': 0.0,
  'last_year_amt': -26586.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '與營業活動相關之資產之淨變動合計',
  'this_year_amt': 41224.0,
  'this_year_percent': 0.0,
  'last_year_amt': -142173.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '合約負債增加（減少）',
  'this_year_amt': -194.0,
  'this_year_percent': 0.0,
  'last_year_amt': -4529.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '應付票據增加（減少）',
  'this_year_amt': -96235.0,
  'this_year_percent': 0.0,
  'last_year_amt': 19483.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '應付帳款增加（減少）',
  'this_year_amt': 15870.0,
  'this_year_percent': 0.0,
  'last_year_amt': -109006.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '其他應付款增加（減少）',
  'this_year_amt': -95689.0,
  'this_year_percent': 0.0,
  'last_year_amt': -31096.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '其他流動負債增加（減少）',
  'this_year_amt': 3197.0,
  'this_year_percent': 0.0,
  'last_year_amt': 16272.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '淨確定福利負債增加(減少)',
  'this_year_amt': 0.0,
  'this_year_percent': 0.0,
  'last_year_amt': -823.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '與營業活動相關之負債之淨變動合計',
  'this_year_amt': -173051.0,
  'this_year_percent': 0.0,
  'last_year_amt': -109699.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '與營業活動相關之資產及負債之淨變動合計',
  'this_year_amt': -131827.0,
  'this_year_percent': 0.0,
  'last_year_amt': -251872.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '調整項目合計',
  'this_year_amt': -193032.0,
  'this_year_percent': 0.0,
  'last_year_amt': -759812.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '營運產生之現金流入（流出）',
  'this_year_amt': 122455.0,
  'this_year_percent': 0.0,
  'last_year_amt': -31056.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '收取之利息',
  'this_year_amt': 1069.0,
  'this_year_percent': 0.0,
  'last_year_amt': 204.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '收取之股利',
  'this_year_amt': 12118.0,
  'this_year_percent': 0.0,
  'last_year_amt': 0.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '退還（支付）之所得稅',
  'this_year_amt': -8297.0,
  'this_year_percent': 0.0,
  'last_year_amt': -837.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '營業活動之淨現金流入（流出）',
  'this_year_amt': 127345.0,
  'this_year_percent': 0.0,
  'last_year_amt': -31689.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '投資活動之現金流量',
  'this_year_amt': 0.0,
  'this_year_percent': 0.0,
  'last_year_amt': 0.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '取得按攤銷後成本衡量之金融資產',
  'this_year_amt': -50.0,
  'this_year_percent': 0.0,
  'last_year_amt': -2900.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '處分按攤銷後成本衡量之金融資產',
  'this_year_amt': 4990.0,
  'this_year_percent': 0.0,
  'last_year_amt': 5080.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '處分透過損益按公允價值衡量之金融資產',
  'this_year_amt': 60070.0,
  'this_year_percent': 0.0,
  'last_year_amt': 0.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '取得採用權益法之投資',
  'this_year_amt': 0.0,
  'this_year_percent': 0.0,
  'last_year_amt': -47928.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '對子公司之收購（扣除所取得之現金）',
  'this_year_amt': 0.0,
  'this_year_percent': 0.0,
  'last_year_amt': -9300.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '取得不動產、廠房及設備',
  'this_year_amt': -46893.0,
  'this_year_percent': 0.0,
  'last_year_amt': -19091.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '處分不動產、廠房及設備',
  'this_year_amt': 256.0,
  'this_year_percent': 0.0,
  'last_year_amt': 6461.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '取得無形資產',
  'this_year_amt': -344.0,
  'this_year_percent': 0.0,
  'last_year_amt': -423.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '取得投資性不動產',
  'this_year_amt': 0.0,
  'this_year_percent': 0.0,
  'last_year_amt': -247.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '投資活動之淨現金流入（流出）',
  'this_year_amt': 18029.0,
  'this_year_percent': 0.0,
  'last_year_amt': -68348.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '籌資活動之現金流量',
  'this_year_amt': 0.0,
  'this_year_percent': 0.0,
  'last_year_amt': 0.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '短期借款減少',
  'this_year_amt': -89000.0,
  'this_year_percent': 0.0,
  'last_year_amt': 416000.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '應付短期票券減少',
  'this_year_amt': -250000.0,
  'this_year_percent': 0.0,
  'last_year_amt': -265000.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '舉借長期借款',
  'this_year_amt': 280000.0,
  'this_year_percent': 0.0,
  'last_year_amt': 0.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '存入保證金增加',
  'this_year_amt': 100.0,
  'this_year_percent': 0.0,
  'last_year_amt': 160.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '存入保證金減少',
  'this_year_amt': -430.0,
  'this_year_percent': 0.0,
  'last_year_amt': -60.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '租賃本金償還',
  'this_year_amt': -13781.0,
  'this_year_percent': 0.0,
  'last_year_amt': -14179.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '支付之利息',
  'this_year_amt': -16402.0,
  'this_year_percent': 0.0,
  'last_year_amt': -6992.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '籌資活動之淨現金流入（流出）',
  'this_year_amt': -89513.0,
  'this_year_percent': 0.0,
  'last_year_amt': 129929.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '本期現金及約當現金增加（減少）數',
  'this_year_amt': 55861.0,
  'this_year_percent': 0.0,
  'last_year_amt': 29892.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '期初現金及約當現金餘額',
  'this_year_amt': 784464.0,
  'this_year_percent': 0.0,
  'last_year_amt': 292032.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '期末現金及約當現金餘額',
  'this_year_amt': 840325.0,
  'this_year_percent': 0.0,
  'last_year_amt': 321924.0,
  'last_year_percent': 0.0},
 {'period_year': 112,
  'season': 1,
  'acct_name': '資產負債表帳列之現金及約當現金',
  'this_year_amt': 840325.0,
  'this_year_percent': 0.0,
  'last_year_amt': 321924.0,
  'last_year_percent': 0.0}]

In [11]:
df_mops_season.to_csv('1104_mops_season_analysis.csv', header=True)

In [12]:
df_mops_season.acct_name.unique()

array(['基本每股盈餘', '繼續營業單位淨利（淨損）', '稀釋每股盈餘', '利息收入', '流動資產', '現金及約當現金',
       '透過損益按公允價值衡量之金融資產－流動', '透過其他綜合損益按公允價值衡量之金融資產－流動',
       '按攤銷後成本衡量之金融資產－流動', '合約資產－流動', '應收票據淨額', '應收帳款淨額', '應收帳款－關係人淨額',
       '其他應收款淨額', '本期所得稅資產', '存貨', '預付款項', '其他流動資產', '流動資產合計', '非流動資產',
       '透過損益按公允價值衡量之金融資產－非流動', '透過其他綜合損益按公允價值衡量之金融資產－非流動',
       '按攤銷後成本衡量之金融資產－非流動', '採用權益法之投資', '不動產、廠房及設備', '使用權資產', '投資性不動產淨額',
       '無形資產', '遞延所得稅資產', '其他非流動資產', '非流動資產合計', '資產總額', '流動負債', '短期借款',
       '應付短期票券', '合約負債－流動', '應付票據', '應付帳款', '應付帳款－關係人', '其他應付款',
       '本期所得稅負債', '租賃負債－流動', '其他流動負債', '流動負債合計', '非流動負債', '遞延所得稅負債',
       '租賃負債－非流動', '其他非流動負債', '非流動負債合計', '負債總額', '歸屬於母公司業主之權益', '股本',
       '普通股股本', '股本合計', '資本公積', '資本公積合計', '保留盈餘', '法定盈餘公積', '特別盈餘公積',
       '未分配盈餘（或待彌補虧損）', '保留盈餘合計', '其他權益', '其他權益合計', '歸屬於母公司業主之權益合計',
       '非控制權益', '權益總額', '負債及權益總計', '預收股款（權益項下）之約當發行股數（單位：股）',
       '母公司暨子公司所持有之母公司庫藏股股數（單位：股）', '營業收入合計', '營業成本合計', '營業毛利（毛損）',
       '營業毛利（毛損）淨額', '營業費用', '推銷費用', '管理費用', '研究發展費用', '預期信用減損損失（利益）',
       '營業費用合計', '營業利益（損失）', '營業外收入及支出', '其他收入', '其他利益及損失淨額', '財務成本淨額',
       '採用權益法認列之關聯企業及合資損益之份額淨額', '營業外收入及支出合計', '稅前淨利（淨損）', '所得稅費用（利益）合計',
       '繼續營業單位本期淨利（淨損）', '本期淨利（淨損）', '其他綜合損益(淨額)',
       '透過其他綜合損益按公允價值衡量之權益工具投資未實現評價損益',
       '採用權益法認列之關聯企業及合資之其他綜合損益之份額-不重分類至損益之項目', '不重分類至損益之項目：',
       '採用權益法認列之關聯企業及合資之其他綜合損益之份額-可能重分類至損益之項目', '後續可能重分類至損益之項目：',
       '其他綜合損益（淨額）', '本期綜合損益總額', '淨利（損）歸屬於：', '母公司業主（淨利∕損）',
       '非控制權益（淨利∕損）', '母公司業主（綜合損益）', '非控制權益（綜合損益）', '營業活動之現金流量－間接法',
       '繼續營業單位稅前淨利（淨損）', '本期稅前淨利（淨損）', '折舊費用', '攤銷費用',
       '預期信用減損損失（利益）數∕呆帳費用提列（轉列收入）數', '透過損益按公允價值衡量金融資產及負債之淨損失（利益）',
       '利息費用', '股利收入', '採用權益法認列之關聯企業及合資損失（利益）之份額', '處分及報廢不動產、廠房及設備損失（利益）',
       '處分投資損失（利益）', '收益費損項目合計', '合約資產（增加）減少', '應收票據（增加）減少', '應收帳款（增加）減少',
       '其他應收款（增加）減少', '存貨（增加）減少', '預付款項（增加）減少', '其他流動資產（增加）減少',
       '與營業活動相關之資產之淨變動合計', '合約負債增加（減少）', '應付票據增加（減少）', '應付帳款增加（減少）',
       '其他應付款增加（減少）', '其他流動負債增加（減少）', '淨確定福利負債增加(減少)', '與營業活動相關之負債之淨變動合計',
       '與營業活動相關之資產及負債之淨變動合計', '調整項目合計', '營運產生之現金流入（流出）', '收取之利息', '收取之股利',
       '退還（支付）之所得稅', '營業活動之淨現金流入（流出）', '投資活動之現金流量', '取得按攤銷後成本衡量之金融資產',
       '處分按攤銷後成本衡量之金融資產', '處分透過損益按公允價值衡量之金融資產', '取得採用權益法之投資',
       '對子公司之收購（扣除所取得之現金）', '取得不動產、廠房及設備', '處分不動產、廠房及設備', '取得無形資產',
       '取得投資性不動產', '投資活動之淨現金流入（流出）', '籌資活動之現金流量', '短期借款減少', '應付短期票券減少',
       '舉借長期借款', '存入保證金增加', '存入保證金減少', '租賃本金償還', '支付之利息',
       '籌資活動之淨現金流入（流出）', '本期現金及約當現金增加（減少）數', '期初現金及約當現金餘額', '期末現金及約當現金餘額',
       '資產負債表帳列之現金及約當現金'], dtype=object)

In [13]:
# Example: Manual categorization
categories = {
    'Revenue': ['利息收入', '其他收入'],
    'Expenses': ['營業成本', '營業費用'],
    'Assets': ['流動資產', '非流動資產'],
    'Liabilities': ['流動負債', '非流動負債'],
    'Equity': ['股本', '保留盈餘'],
    'Profitability': ['基本每股盈餘', '稀釋每股盈餘', '繼續營業單位淨利（淨損）']
}

In [14]:
data = df_mops_season

In [15]:
# Assuming the classification based on typical financial statement components, we will classify 'acct_name' into categories.

# Define potential keywords for each category for simple keyword-based categorization
assets_keywords = ["現金", "資產", "存貨", "應收"]
liabilities_keywords = ["負債", "應付"]
equity_keywords = ["股本", "普通股", "優先股", "留存收益"]
income_keywords = ["收入", "銷售", "利潤", "淨利"]
expense_keywords = ["成本", "費用"]
cash_flow_keywords = ["現金流"]

# Function to determine the category based on keywords
def categorize_acct_name(acct_name):
    acct_name = acct_name.lower()
    if any(keyword in acct_name for keyword in assets_keywords):
        return "資產相關項目"
    elif any(keyword in acct_name for keyword in liabilities_keywords):
        return "負債相關項目"
    elif any(keyword in acct_name for keyword in equity_keywords):
        return "股東權益項目"
    elif any(keyword in acct_name for keyword in income_keywords):
        return "收入和費用項目"
    elif any(keyword in acct_name for keyword in expense_keywords):
        return "收入和費用項目"
    elif any(keyword in acct_name for keyword in cash_flow_keywords):
        return "現金流量相關項目"
    else:
        return "其他"

# Apply the categorization function to the 'acct_name' column
data['category'] = data['acct_name'].apply(categorize_acct_name)
data[['acct_name', 'category']].drop_duplicates().sort_values(by='category')  # Show unique categories for review

                   acct_name category
102                   基本每股盈餘       其他
229  預收股款（權益項下）之約當發行股數（單位：股）       其他
265              非控制權益（綜合損益）       其他
195                     短期借款       其他
264              母公司業主（綜合損益）       其他
..                       ...      ...
293         與營業活動相關之資產之淨變動合計   資產相關項目
301      與營業活動相關之資產及負債之淨變動合計   資產相關項目
177                       存貨   資產相關項目
176                  本期所得稅資產   資產相關項目
331          資產負債表帳列之現金及約當現金   資產相關項目

[162 rows x 2 columns]

In [16]:
data.to_csv('acct_name_check.csv', encoding='utf8')